<section id="top">
  <%= image_tag("brick-unicorn.jpg") %>
</section>

<section class="panel" id="about">
  <br>
  <br>
  <br>
  <br>
  <h1>About Me</h1>
  <p>
    I am a web developer currently residing in Omaha, Nebraska. I am passionate about community, cycling, and science. I am a wife, a daughter, a sister, a mother. I am a collector of crafty hobbies. I am an <%= link_to "Omaha Code School", "http://www.omahacodeschool.com" %> graduate.
  </p>
  <p>
    More about me <%= link_to "here", pages_about_path %>.
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>

<section id="blog">
  <br>
  <br>
  <br>
  <h1>Blog</h1>
  <br>
  <br>
  <br>
  <p>
    put last 5 blog posts here,
  </p>
  <p>
    <%= link_to "View All", posts_path %>
  </p>
  <br>
  <br>
  <br>
</section>

<section class="panel callout radius" id="resume">
  <br>
  <br>
  <br>
  <h1>Professional</h1>
  <br>
  <br>
  <br>
  <p>
    Professional Highlights and Skills
  </p>
  <p>
    <%= link_to "Resume", pages_professional_path %>
  </p>
  <br>
  <br>
  <br>
</section>
